<% include partials/header %>

<h1>Strains Page</h1>

<a href="/strains/new">Add New Strain</a>

<% strains.forEach(function(strain){ %>
  <div>
    <h4><%= strain.name %></h4>
    <img src="<%= strain.image %>">
  </div>
<% }); %>

<% include partials/footer %>