.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.delete-form {
  display: inline;
}

.caption a {
  text-decoration: none;
  color: #5a5a5a;
}

.caption a:hover {
  color: black;
}

/*Buttons*/

.btn-primary {
  background-color: #5a5a5a;
  border: none;
}

.btn-primary:hover {
  background-color: #333333;
  border: none;
}

.btn-primary:active {
  background-color: #333333;
  border: none;
}