body {
  font-family: 'roboto';
  animation: 1s fadeIn;
}

@keyframes slowFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jumbotron h1 {
  font-family: "Bebas Neue", "Oswald";
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 4em;
  text-transform: uppercase;
  animation: 1s slowFadeIn;
}

@media (max-width: 800px){
  .jumbotron h1 {
    font-size: 3em;
  }
}

.thumb-fixed-height {
  height: 150px;
  overflow: hidden;
}

.jumbotron {
  padding: 30px;
}

.navbar .navbar-brand {
  font-family: "Bebas Neue", "Oswald";
  font-weight: lighter;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: 1s slowFadeIn;
}

.bold {
  font-family: "Bebas Neue", "Oswald";
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #535353;
  display: inline-block;
  padding: 20px;
  width: 100%;
  border: 1px dotted steelblue;
  border-radius: 3px;
  line-height: 50px;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: #e0effc;
}

.input-file + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.lead {
  font-family: "Bebas Neue", "Oswald";
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.login-well {
  margin-top: 40px;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.delete-form {
  display: inline;
}

.caption a {
  text-decoration: none;
  color: #5a5a5a;
  font-family: 'Bebas Neue', "Oswald";
  font-weight: normal;
  font-size: 1.5em;
  text-transform: uppercase;
  animation: 3s slowFadeIn;
}

.caption a:hover {
  color: black;
}

/*Buttons*/

.btn-primary {
  background-color: #333333;
  border: none;
}

.btn-primary:hover {
  background-color: black;
  border: none;
}

.btn-primary:active {
  background-color: black;
  border: none;
}